/* =================================
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
  background: #fafafa;
}

a {
  text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

p {
  font-family: 'Open Sans', sans-serif;
}

.container {
  text-align: center;
  margin-top: 15px;
  padding-top: 10px;
}

#portfolio {
  background: #fff;
}

.portrait {
	width: 65%;
	padding-top: 20px;
}

.images {
  width:75%;
}

#contact {
  margin: 5px 0;
  padding-top: 5px;
}

.contact-info span {
	font-size: 1em;
	font-weight: bold;
}

.main-col {
	padding-left: 1em;
	padding-right: .5em;
}

/* =================================
Navigation
==================================== */

.main-nav,
.name {
	margin-top: 5px;
  background: #fff;
}

  .name,
	.main-nav a {
		display: block;
		text-align: center;
	  margin: 0;

	}

	.main-nav a {
		font-size: .95em;
		font-weight: bold;
		padding-top: 10px;
		color: #000;
		text-transform: uppercase;
	}

	.main-nav a:hover,
	.bottom-nav a:hover {
		color: #093a58;
	}


/* =================================
footer nav
==================================== */

footer  {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

.bottom-anchor {
  float: right;

}

.main-footer {
  background: #fff;
  width:100%;
  bottom: 0;
}
.bottom-name {
  font-size: 20px;
  float:left;
  margin:0;
}
.bottom-nav {
  float: right;
  font-size: 15px;
}

.bottom-nav li {
  display: inline-block;
  margin-left: 15px;
}
.bottom-nav a {
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.desktop-bottom-nav {
	display: none;
}

/* =================================
clearfix
==================================== */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}


/* =================================
Media Queries
==================================== */

@media (min-width: 769px) {

  .name,
	.main-col {
    float:left;
  }

	.grid3 .col {
		width: 48.4%;
	}
	.col{
		float: left;
		margin: auto;
	}

	.main-nav,
	.name {
	  background: #fafafa;
	}

  .main-nav {
    float: right;
  }

  .main-nav a {
		padding: 10px;
	}
	
  .main-nav li {
		display: inline-block;
		margin-left: 15px;
		font-size: 1.45em;
		font-weight: bold;
	}

  .tagline {
    font-size: 1.25em;
  }

  .portrait {
    width: 35%;
		margin-right: 1.75em;
    float: right;
  }


	.primary-main,
	.secondary-main {
		width: 45%;
	}

	.desktop-bottom-nav {
		display: inline-block;
		font-size: 10px;
	}
	.back-to-top {
		display: none;
	}

}

@media (min-width:1024px) {

	.tagline {
		padding-top: 20px;
		margin-left:60px;
		font-size: 1.5em;
	}

	.portrait {
		width: 35%;
		margin-right: 100px;
	}


	.col {
		float: left;
		margin-left: 3.2%;
		margin-bottom: 30px;
	}

	.grid3 .col {
		width: 31.2%;
	}


	.grid3 .col:nth-of-type(3n+1) {
		margin-left: 0;
		clear: left;
	}

}
